#section-button {
	font-size: 1.4em;
	color: #666;
}

.section-heading {
	background-color: #fffcf0;
	/* background-color: rgba(255,153,0, 0.6); */
}

.section-heading::before {
	content: 'HEADING';
	font-size: 0.9em;
	border: 1px solid #fc0;
	border-right: none;
}

.section-heading::after {
	content: 'HEADING';
	font-size: 0.9em;
	border: 1px solid #f90;
	border-left: none;
}

.sectionblock {
	background-color: #fffcf0;
	background-color: rgba(255,153,0, 0.6);
	border: 1px dashed #fffcf0;
	display: block;
	padding: 5px 10px;
}

.sectionblock::before {
	content: 'SECTION';
	color: #996;
	display: block;
	padding: 5px 0;
	font-size: 0.9em;
}

.sectionblock::after {
	content: '/SECTION';
	color: #996;
	display: block;
	padding: 5px 0;
	font-size: 0.9em;
}
