<li class="acl-write separator"></li>
<li class="superscript">
  <a title="superscript" class="grouped-left"><span class=buttonicon style="background-image:url('../static/plugins/ep_superscript/static/img/icon.png');"</span></a>
</li>
